*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

#container{
    width:70%;
    height:550px;
    background-color: navy;
    border:none;
    border-radius: 20px;
    margin:auto;
    margin-top:60px;
}

.heading{
    color:white;
    font-size:40px;
    font-weight: bold;
    text-align: center;
    font-family:'Roboto', sans-serif ;
    margin-top:0;
    padding:20px;
}
ul{
    margin:0;
    padding:0;
}
ul li{
    cursor: pointer;
    position:relative;
    padding:12px 8px 12px 40px;
    background:navy;
    font-size:18px;
    transition:0.2s;
    list-style-type:none;
text-align: left;
margin-top:50px;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

ul li:nth-child(odd){
    background: navy;
}
ul li:hover{
    background: transparent;
}
ul li.checked::before{
    content:'';
    position:absolute;
    border-color:#fff;
    border-style:solid;
    border-width:0 2px 2px 0;
    top:10px;
    left:15px;
    transform:rotate(45deg);
    height:15px;
    width:7px;

}
.header{
    background-color: red;
    padding:30px 40px;
    color:white;
    text-align: center;
}
.header:after{
    content:"";
    display:table;
    clear:both;
}
input{
    padding-top:30px;
    margin:0;
    border:none;
    border-radius:0;
    width:75%;
    padding:10px;
    float:left;
    font-size:15px;
}
.addbtn{
    padding:10px;
    width:25%;
    background:red;
    color:white;
    float:left;
    text-align: center;
    font-size:16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    height:auto;
}
.addbtn:hover{
    background-color: #bbb;
    color:black;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    background-color: yellow;
    height:40px;
    color:black;
    border-radius: 10px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }